body {
    font-family: Vazirmatn, Arial, sans-serif;
    background: #fafafa;
    text-align: center;
    margin: 0;
    color: #131313;
}

header {
    background: white;
    padding: 15px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
}

.login, .panel {
    max-width: 500px;
    margin: 20px auto;
    padding: 16px;
    background: white;
    border-radius: 10px;
    border: 1px solid #ddd;
}

input, button {
    font-family: inherit;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin